<%= form_for(@fable) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_field :name, placeholder: "Title" %>
  </div>
    <div class="field">
  	<%= f.text_field :tag_names, placeholder: "series genre author" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new fable..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
