<% provide(:title, @fable.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @fable.user %>
        <%= @fable.user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/links', collection: @fable.links %>
      <br>
      <%if current_user?(@fable.user) %>
        <%= render 'shared/link', :linkable => @fable, :link => @fable.links.build %>
      <% end %>
    </section>
  </aside>

  <section>
  <div class="span8">
    <h3><%= @fable.name %></h3>
        <%if current_user?(@fable.user) %>
          <%= link_to "edit", edit_fable_path(@fable.id) %>
        <% end %>
        <br>
        <%= @fable.content %>
  </div>

</section>
</div>
