<% provide(:title, 'All microposts') %>
<h1>All microposts</h1>

<%= will_paginate %>

<ul class="microposts">

<%= form_tag microposts_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

  <%= render @microposts %>
</ul>

<%= will_paginate %>