<% provide(:title, 'All microposts') %>
<h1>All microposts</h1>

<%= form_tag microposts_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= will_paginate %>

<ul class="microposts">
  <%= render @microposts %>
</ul>

<%= will_paginate %>