<% provide(:title, @micropost.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @micropost.user %>
        <%= @micropost.user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @micropost.name %></h3>
        <%= @micropost.tag_names %>
        <%= @micropost.content %>
        <%= link_to "Edit", edit_micropost_path(@micropost.id) %>
  </div>

  <% if current_user?(@micropost.user) %>
    <% if @micropost.surveyURL.nil? %>
      <%= link_to "Create a Survey with Survey Monkey", "http://www.surveymonkey.com/" %>
      <%= form_for @micropost do |f| %>  
        <p>
          <%= f.text_field :surveyURL %>
        </p>

        <p><%= f.submit "Add link to survey." %></p>
      <% end %>

    <% else %>

      <%= link_to "Take Survey", @micropost.surveyURL, :target => '_blank' %>
    <% end %>
  <% end %>
</div>