<% provide(:title, @micropost.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @micropost.user %>
        <%= @micropost.user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @micropost.name %></h3>
        <%= @micropost.content %>
  </div>
</div>